.container{
    width:1500px;
    height: 500px;
    margin: auto;
    border: 10px solid ;
    border-radius: 80px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(71, 194, 184);
    color:#0d0e0d;

}
input{
    width: 60%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #080807;
    margin: 10px;
   
    
}
.buttons{
    width: 20%;
    height: 60px;
    font-weight: bold;
    color: white;
    background-color: hsl(120, 5%, 4%);
    font-size: 30px;
    margin-top: 20px;
}
input{
    border:1px solid #030303;
}
li{
    list-style-type:num;
    font-weight: bold;
    font-size: 30px;
}
#clear{
    width: 120px;
    height: auto;
    color: tomato;
    background-color: black;
}
.deleted1{
    height: 30px;
    background-color: rgb(10, 9, 9);
    color: #fcf7f7;
 font-size: 20px;
    border-radius: 5px solid black;
}